@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: rgb(151,237,235);
    background: linear-gradient(45deg, rgba(151,237,235,1) 0%, rgba(175,199,242,1) 50%, rgba(167,184,201,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    margin: 4rem auto;
    width: 30vw;
    height: 80vh;
    background: #ffffff;
    border: 5px solid #f1f1f1;
    border-radius: 20px;
}

.search_box{
    width: 90%;
    margin: 0.8rem auto;
}

.search_box .search_bar{
  width: 100%;
  padding: 0.8rem;
  appearance: none;
  border: 1px solid #E5E8E8;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 1.1rem;
  transition: 0.4s ease;
}

.weather_city{
    width: 90%;
    margin: auto 1rem;
    padding: 0.1rem 1rem;
}

.city{
    font-size: 3rem;
    position: relative;
}

.country{
    font-size: 1.1rem !important;
    border: none;
    background-color: red;
    padding: 0.1rem 0.4rem;
    text-transform: lowercase;
    border-radius: 32%;
    color: #fff;
    position: absolute;
    top: 5px;
}

.weather_date{
    width: 50%;
    margin: auto 1.4rem;
    padding: 0.5rem 0.8rem;
}

.day_date{
    font-size: 1.5rem;
}
.full_date{
    font-size: 0.8rem;
}

/* Weather Details*/
.weather_details{
    width: 90%;
    border: 1px solid #E5E8E8;
    margin: auto;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.temp{
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp_title{
    font-size: 3rem;
    text-transform: lowercase;
    text-align: center;
}

.max_min{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

.weather_desc{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 0.5rem;
}

.weather_title{
    font-size: 1.5rem;
}

.temp_logo{
    width: 20vh;
    height: 15vh;
    transition: 0.4s ease;
}

.hourly_temp{
    width: 100%;
    margin: 0.5rem 0;
}

.climate_details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.pres_detail, .humi_detail{
    width: 45%;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color:#EBF5FB;
    box-shadow: 0px 0px 5px #EBF5FB;
}

/* Media Queries */
@media (max-width: 1024px){
    .container{
        width: 30vw;
    }
}

@media (max-width: 970px){
    .container{
        width: 35vw;
    }
}

@media (max-width: 768px){
    .container{
        width: 40vw;
    }
}

@media (max-width: 667px){
    .container{
        width: 50vw;
    }
}

@media (max-width: 500px){
    .container{
        width: 70vw;
    }
}

@media (max-width: 480px){
    .container{
        width: 70vw;
    }
}

@media (max-width: 375px){
    .container{
        width: 85vw;
        margin: 4rem auto;
    }
}